body{
    font-family: helvetica;
    background-image: url('https://mcdn.wallpapersafari.com/medium/47/33/opSe6U.jpg');
}
h1{
    text-align: center;
    border-radius: 60%;
    font-size: 50px;
    color: black;
    
}
.btn{
  
  justify-content: center;
  
  height: 30 px;
  border: 3 px solid green;
  border-radius: 20 %;
  
}
.btn:hover{
    color: coral;
}

.box{
  text-align: center;  
}